.section-1 {
    margin-top: 30px;
    margin-bottom: 55px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
.section-1 img {
    width: 390px;
    height: 390;
}
.section-text {
    margin: 38px 24px 48px 24px;
    text-align: left;
}
.section-text h2 {
    letter-spacing: 2px;

    font-size: 24px;
    margin-bottom: 18px;
}
.section-text p {
    letter-spacing: 1px;
}
.desktop-p {
    display: none;
}
.section-2 {
    background-color: #dedede;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}
.section-2-content {
    display: flex;
    flex-direction: column;
    padding: 28px 21px 21px 21px;
}
.section-2-content img {
    width: 349px;
    height: 349px;
}
.section-2-text-content h2 {
    margin-top: 21px;
    text-align: center;
    font-size: 20px;
}
.section-2-p-content {
    text-align: justify;
    align-items: center;
    display: flex;
    margin: 21px 0px 21px 0px;
    font-size: 12px;
    gap: 14px;
}
.section-2-p-content img {
    width: 60px;
    height: 60px;
}
.section-3 img {
    width: 390px;
    height: 449px;
}
#img-logo-grande-pc {
    display: none;
}
#swiper-2-pc {
    display: none;
}
.section-4 {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}
.section-4 h3 {
    text-align: center;
    margin: 55px auto 55px auto;
    font-weight: 700;
}
.sign-up {
    height: 208px;
    width: 326px;
    margin: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;
}
.input-box {
    width: 326px;
    height: 48px;
    font-size: 14px;
    text-align: left;
    padding: 24px 24px 24px 24px;
    margin: 0px auto 16px auto;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;
    border: none;
}
.input-box:focus {
    border: solid 1px;
    border-color: rgb(213, 219, 219);
}
#blue-text {
    color: #005cff;
}
#check-box-sign-up {
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 12px;
    gap: 10px;
    text-decoration: underline;
    color: #656565;
    font-weight: 700;
}
.sign-up button {
    width: 100%;
    background-color: #005cff;
    color: white;
    border: none;
    padding: 14px 126px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    margin-bottom: 81px;
}

@media (min-width: 391px) {
    .section-1 {
        flex-direction: row;
    }
    .section-1 img {
        width: 652px;
        height: 747px;
    }
    .section-text {
        width: 487px;
        font-size: 18px;
        margin: 105px 0px 105px 37px;
    }
    .section-text h2 {
        font-size: 30px;
    }
    .desktop-p {
        display: block;
    }
    .mobile-p {
        display: none;
    }
    .section-2 {
        margin: 50px 0px 50px 0px;
    }
    .section-2-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .section-2-text-content {
        margin: 80px 52px 80px 49px;
        text-align: center;
    }
    .section-2-text-content h2 {
        text-align: center;
        font-size: 30px;
        color: #4f4f4f;
    }
    .section-2-content img {
        width: 652px;
        height: 728px;
    }
    .section-2-p-content {
        text-align: justify;
        align-items: center;
        display: flex;
        margin: 50px 0px 50px 0px;
        font-size: 18px;
        gap: 20px;
        color: #4f4f4f;
    }
    .section-2-p-content img {
        width: 90px;
        height: 90px;
    }
    #img-logo-grande-cel {
        display: none;
    }
    #img-logo-grande-pc {
        display: block;
    }
    .section-3 img {
        width: 1920px;
        height: 660px;
    }
    .section-4 h3 {
        font-size: 20px;
        margin: 55px auto 55px auto;
        font-weight: 700;
    }
    .sign-up {
        width: 1260px;
        height: 176px;
        padding: 64px 114px;
        margin: 0px auto 0px auto;
        background-color: #dedede;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
        gap: 24px;
        border-radius: 8px;
    }
    .sign-up button {
        width: 121px;
        height: 48px;
        background-color: #005cff;
        color: white;
        border: none;
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        padding: 0;
        margin: 0;
    }
    .input-box {
        background-color: #ffffff;
        margin: 0;
    }
}
