body {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}
strong {
    font-weight: 700;
}
.mobile-only {
    display: none;
}
.header_mobile {
    width: 100%;
    font-size: 14px;
    font-weight: lighter;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* X, Y, blur, spread */
    padding-bottom: 4px;
    gap: 20px;
}
.header_pc {
    display: none;
}
.header_up {
    padding: 2px 20px;
    text-align: center;
    background-color: #005cff;
    height: 52px;
    color: white;
    align-content: center;
}

.destaque_roxo {
    background-color: #6220c1;
    display: inline-block;
    padding: 0px 2px;
}
.header_down {
    margin-top: 17px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.menu_icon {
    width: 23.72px;
    height: 21.38px;
}
.logo_icon {
    height: 26.28px;
    width: 148.07px;
}

.shop_icon {
    width: 25.04px;
    height: 24.16px;
}

.blue_icon_number {
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 2;
    top: 78px;
    right: 10px;
}
.search-box {
    width: 86%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 0 15px;
    background-color: #fff;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    background: transparent;
}
.main_image_background {
    display: none;
}

@media (min-width: 391px) {
    .header_pc {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    .header_mobile {
        display: none;
    }
    .header_up {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        height: 30px;
        width: 100%;
    }
    .header_down {
        margin-top: 17px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        height: 100%;
    }
    .sizable {
        width: 1260px;
    }
    .header_down_up_part {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .logo_icon {
        height: 27.08px;
        width: 152.58px;
        margin-right: 65.42px;
    }
    .search-box {
        width: 594px;
        height: 40px;
        display: flex;
        margin-right: 275px;
    }
    .user_link {
        display: flex;
        align-items: center;
    }
    .user_icon {
        width: 20.57px;
        height: 24px;
        margin-right: 8px;
    }

    .user_text {
        display: flex;
        flex-direction: column;
        line-height: 1;
    }
    .user_text span {
        white-space: nowrap;
    }

    .shop_icon {
        margin-left: 24px;
    }

    .blue_icon_number {
        top: 50px;
        right: 315px;
    }

    .main_image_background {
        display: flex;
        background-color: #e7e7ea;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .align_page_content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1260px;
        margin: auto;
    }
    .offer_text {
        font-family: 'Nunito', sans-serif;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #005cff;
    }
    .sale {
        font-size: 100px;
        font-weight: 300;
        color: black;
    }
    .sale bold {
        font-weight: 700;
    }
    .blue_minor_text {
        font-size: 25px;
        letter-spacing: 4px;
        font-weight: 600;
    }
    .price {
        font-size: 60px;
        font-weight: 700;
    }
    .chair_image {
        margin-right: 30px;
        border-radius: 10px;
    }
}
